body {
    background-image:url(images/Background.png);
    background-size: cover;
    font-family: "Comic Sans MS", cursive ;
    text-align: center;
}

.caneles{
    width: 100%;
    min-height: 70%;
    margin-left: 3%;
}

.buildings{
    width: 100%;
    min-height: 100%;
}

.upgrades{
    width: 95%;
    min-height: 30%;
    margin-top: 2% ;
    position: fixed;
    left: 2.5%;
    padding-left:2%;
}

h1{
    font-family: "Pacifico", cursive;
    color: #5f021f
}

h2{
    font-size: 2.5em;
}

span{
    color: #a47;
}

button{
    font-family: "Comic Sans MS", cursive;
}

.NombreCanelés{
    font-size: 1.8em;
}

.info{
    font-size: 1.4em;
}

div{
    width:100%;
}

img{
    width:61%;
    padding-bottom: 6%;
}
