body {
    background-color: lightgray;
    font-family: "Neucha", cursive ;
    text-align: center;
}

.caneles{
    background-color: rgb(160, 160, 160);
    width: 100%;
    min-height: 70%;
}

.buildings{
    background-color: rgb(160, 160, 160);
    width: 100%;
    min-height: 100%;
}

.upgrades{
    background-color: rgb(160, 160, 160);
    width: 100%;
    min-height: 30%;
    margin-top: 2% ;
}

h1{
    font-family: "Pacifico", cursive;
    color: #5f021f
}

h2{
    font-size: 2.5em;
}

span{
    color: #a47;
}

button{
    font-family: "Neucha", cursive;
}

.NombreCanelés{
    font-size: 1.8em;
}

.info{
    font-size: 1.4em;
}

div{
    width:100%;
}

img{
    width:30%;
}