html{
    background-color: lightgray;
    font-family: "Neucha", cursive;
    text-align: center;
}

#Canelés{
    background-color: black;
    width: 54%;
    min-height: 70%;
    float: left;
}

#Buildings{
    background-color: gray;
    width: 44%;
    float: top;
    float: right;
    min-height: 100%;
}

#Upgrades{
    background-color: white;
    width: 55%;
    display: block;
    top: 70%;
    min-height: 30%;
}

h1{
    font-family: "Pacifico", cursive;
    color: #5f021f
}

span{
    color: #a47;
}

button{
    font-family: "Neucha", cursive;
}

.NombreCanelés{
    font-size: 1.4em;
}